<footer class="footer">
  <button type="button" name="button" onclick="window.location.href='https://www.youtube.com/results?search_query=moana+soundtrack'">Like this content?</button>
  <h4>Created by Elliot Gagola for Sparta Global</h4>
</footer>
