<nav class="nav">
  <img id="logo" src="https://cdn1.iconfinder.com/data/icons/google_jfk_icons_by_carlosjj/512/youtube.png" alt="youtubeimg">
  <a href="/">Homepage</a>
  <a href="/0">How Far I'll go</a>
  <a href="/1">You're Welcome</a>
  <a href="/2">Shiny</a>
  <a href="/3">Song of the Ancestors</a>
  <a href="/4">Where you are</a>
</nav>
