<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="main">
      <form action="" method="post">
        <textarea id="orig" rows="25" cols="150"><%= @post[:title] %><%= @post[:body] %></textarea>
        <br />
        <button type="submit">Submit</button>
      </form>
      <br /><br /><br />
      <textarea id="result" rows="25" cols="150"></textarea>
    </div>
  </body>
</html>
